apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "filizer-server.fullname" . }}
  labels:
    {{- include "filizer-server.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "filizer-server.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "filizer-server.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "filizer-server.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 8000
              protocol: TCP
          env:
            - name: API_AUTH_ENABLED
              value: {{ .Values.config.auth.enabled | quote }}
            - name: API_USERNAME
              value: {{ .Values.config.auth.username | quote }}
            - name: API_PASSWORD
              value: {{ .Values.config.auth.password | quote }}
            - name: MONGODB_URL
              {{- if .Values.mongodb.enabled }}
              value: "mongodb://{{ include "filizer-server.fullname" . }}-mongodb:27017"
              {{- else }}
              value: {{ .Values.config.mongodb.url | quote }}
              {{- end }}
            - name: MONGODB_DB_NAME
              value: {{ .Values.config.mongodb.db_name | quote }}
          livenessProbe:
            httpGet:
              path: /version
              port: http
          readinessProbe:
            httpGet:
              path: /version
              port: http
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
